* {
  font-family: "Open Sans", sans-serif;
  line-height: normal;
  color: var(--main-font-color);
}

#rooms-page {
  padding: 20Px;
  margin: 10px;
}

.room-title {
  margin: 10px;
}

#connected-users {
  margin-top: 10px;
}
.user-info {
  margin-top: 5px;
}
.active-user::after {
  content: "(you)";
  margin-left: 5px;
}
.hidden {
  display: none;
}

.user-status-inactive {
  border-radius: 20px;
  background-color: red;
  width: 20px;
  height: 20px;
  margin-left: 20px;
}
.user-status-active {
  border-radius: 20px;
  background-color: green;
  width: 20px;
  height: 20px;
  margin-left: 20px;
}

.user-count {
  margin: 20px;
  opacity: 0.8;
  font-size: smaller;
}

.arena___progress-indicator {
  width: 0%;
  height: 25px;
  margin: 0;
  overflow: hidden;
  background: rgb(214, 245, 179);
}
.full-indicator {
  width: 100%;
  background: rgb(133, 216, 38);
}
.underlined-text {
  width: 100%;
  border-bottom: 5px solid rgb(133, 216, 38) ;
}
.arena___progress-bar {
  border: 2px solid;
  border-radius: 5px;
  height: 100%;
  width: 200px;
  margin: 10px;
  background-color: white;
}

.btn {
  height: 39px;
  width: 160px;
  font-size: 14px;
  border: 1px solid var(--main-button-border-color);
  background-color: var(--main-button-background-color);
  text-transform: uppercase;
  padding: 0 15px;
  margin-top: 20px;
}

#rooms-container {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.full-screen {
  height: 100vh;
  width: 100%;
}

#arena {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  margin-left: 30px;
  margin-right: 30px;
  max-width: 900px;
  height: 500px;
  width: 90%;
  border-style: ridge;
  font-size: x-large;
}
.typed-text {
  background: rgb(214, 245, 179);
}
.inline {
  display: inline;
}

#bot-img {
  height: 150px;
  width: 150px;
}

#bot-message {
  border-radius: 40px;
  background: rgb(254, 255, 220);
  padding: 20px;
  margin-right: 20px;
}

#bot-container {
  height: 500px;
  width: 50%;
  min-width: 300px;
}

#room-info {
  height: 100%;
  margin-left: 10px;
  margin-right: 10px;
}

#on-game-timer {
  position: fixed;
  bottom: 250px;
  left: 50px;
}
.flex-column {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}
.flex-row {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
}

.flex-centered {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex {
  display: flex;
}

.no-select {
  user-select: none;
}

.display-none {
  display: none;
}

.game-page {
  display: flex;
  justify-content: space-around;
  justify-items: space-around;
}

input {
  width: 100%;
  height: 100%;
  padding: 5px 10px;
  outline: none;
  background-color: var(--white);
  border: 1px solid var(--input-border-color);
}

input::placeholder {
  color: var(--input-placeholder-color);
}

:root {
  --main-font-color: #333;
  --main-button-background-color: lightgrey;
  --main-button-border-color: #999;
  --input-border-color: #999;
  --input-placeholder-color: #888;
  --white: #fff;
}

.room-card {
  flex-direction: column;
  margin-top: 10px;
  height: 250px;
  width: 250px;
  border-style: ridge;
}